html{
    background-color:gold;
}
#game{
    position: absolute;
    top:20%;
    left:30%;
    height: 500px;
    width: 615px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#calculation{
    background-color:#ffed9e;
    position: absolute;
    width: 80%;
    height: 100px;
    top:10%;
    left:10%;
}
#buttons{
    width: fit-content;
    position: relative;
    top:40%;
}

#start{
    background-color: gold;
    border: none;
    width: 200px;
    border-radius: 5px;
    font-size: 30px;
    position: relative;
    top:45%;
}
button{
    font-size: 40px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;;
}