html{
    background-color:gold;
}
#game{
    position: absolute;
    top:20%;
    left:30%;
    height: 60vh;
    width: 40vw;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}
#calculation{
    background-color:#ffed9e;
    position: absolute;
    width: 80%;
    height: 100px;
    top:10%;
    left:10%;
}
#buttons{
    width: fit-content;
    position: relative;
    top: 40%;
}