
<div style="font-weight: bold; font-size: 50px; text-align: center; vertical-align:baseline;" class="pointsBubble triggerBubbleAnimation">+1.5</div>
<div style="font-size: 30px; " id="pointsUIDiv">Points: <label  id="pointsUI">0</label></div>
<div style="font-weight: bold; font-size: 50px; text-align: center; vertical-align:baseline ;" id="calculation">
    

    <div id = "bar"></div>
    <p>5</p>
    <div id="buttons">
        <div style="text-align: center;">
            <button class="buttons">7</button>

            <button class="buttons">8</button>
            <button class="buttons">9</button>

        </div>
        <div style="text-align: center;">
            <button class="buttons">4</button> 

            <button class="buttons">5</button>
            <button class="buttons">6</button>
        </div>
        <div style="text-align: center;">
            <button class="buttons">1</button>

            <button class="buttons">2</button>
            <button class="buttons">3</button>
        </div>
            <div style="text-align: center;">
        <button class="buttons">0</button>

    </div>
</div>
